.tag-heading {
  display: flex;
  background-color: #e3e3e3;
  align-items: center;
  height: 100px;
}

.m-20 {
  margin: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-80 {
  margin-right: 80px;
}

.col-heading {
  color: #8393ae;
  font-size: 14px;
}

button {
  border: none;
  background: #fff;
}

.wrapper {
  width: 500px;
}

.progress-bar {
  display: flex;
}

.objective {
  font-size: 14px;
}

.w-10 {
  width: 10% !important;
  height: 8px;
}

span {
  font-size: 12px;
}
